*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    display: flex;
    width: 84%;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    position: sticky;
}
.nav ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

nav ul li a{
    font-size: larger;
    text-decoration: none;
    color: rgb(238, 232, 232);
    font-weight: bold;

}

nav ul li a:hover{
    color: #d43d6b;
}

h1{
    font-size: 50px;
    color: #f8f1f1;
    margin-bottom: 20px;
   
}

p{
    font-size: large;
    color: #f8f1f1;
    line-height: 20px;
    margin-bottom: 50px;
}
.img:hover{
    left: 45%;
}


span{
    background: #d43d6b;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    
}

span:hover{
    color: black;
}

